# Ignore all files by default but decent into subfolders
*
!*/

# git + github files
!.gitignore
!.gitattributes
!/.github/**

# allowed folders
!/nvim/**
!/nvim.astro.bak/** 
!/nvim-personal/**
!/fastfetch/**
!/kitty/**

!/hypr/**
!/hypr.back/**
!/caelestia/**
!/quickshell/**
!chrome-flags.conf


# spotify
# spicetify
